<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
    <key>UmbrellaSlime_Umbrella_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{2,2},{46,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,56}}</string>
        <key>sourceSize</key>
        <string>{46,56}</string>
    </dict>
    <key>UmbrellaSlime_Umbrella_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{50,2},{46,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,56}}</string>
        <key>sourceSize</key>
        <string>{46,56}</string>
    </dict>
    <key>MotherSlime_Mother_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{98,2},{44,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,32}}</string>
        <key>sourceSize</key>
        <string>{44,32}</string>
    </dict>
    <key>MotherSlime_Mother_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{144,2},{44,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,32}}</string>
        <key>sourceSize</key>
        <string>{44,32}</string>
    </dict>
    <key>Spiked_Slime_Spiked_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{190,2},{36,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,30}}</string>
        <key>sourceSize</key>
        <string>{36,30}</string>
    </dict>
    <key>Spiked_Slime_Spiked_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{2,60},{36,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,30}}</string>
        <key>sourceSize</key>
        <string>{36,30}</string>
    </dict>
    <key>Spiked_IceSlime_Spiked_Ice_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{40,60},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
    </dict>
    <key>Spiked_IceSlime_Spiked_Ice_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{82,60},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
    </dict>
    <key>Spiked_JungleSlime_Spiked_Jungle_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{124,60},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
    </dict>
    <key>Spiked_JungleSlime_Spiked_Jungle_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{166,60},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
    </dict>
    <key>GreenSlime_Green_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{208,60},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>GreenSlime_Green_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{2,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>BlueSlime_Blue_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{36,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>BlueSlime_Blue_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{70,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>RedSlime_Red_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{104,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>RedSlime_Red_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{138,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>YellowSlime_Yellow_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{172,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>YellowSlime_Yellow_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{206,92},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>PurpleSlime_Purple_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{2,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>PurpleSlime_Purple_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{36,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>IceSlime_Ice_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{70,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>IceSlime_Ice_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{104,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>BlackSlime_Black_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{138,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>BlackSlime_Black_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{172,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>JungleSlime_Jungle_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{206,118},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>JungleSlime_Jungle_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{2,144},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>BabySlime_Baby_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{36,144},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>BabySlime_Baby_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{70,144},{32,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>sourceSize</key>
        <string>{32,24}</string>
    </dict>
    <key>Projectile_Ice_Spike</key>
    <dict>
        <key>frame</key>
        <string>{{104,144},{10,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,20}}</string>
        <key>sourceSize</key>
        <string>{10,20}</string>
    </dict>
    <key>Projectile_Jungle_Spike</key>
    <dict>
        <key>frame</key>
        <string>{{116,144},{10,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,20}}</string>
        <key>sourceSize</key>
        <string>{10,20}</string>
    </dict>
    <key>Projectile_Slime_Spike</key>
    <dict>
        <key>frame</key>
        <string>{{128,144},{10,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,20}}</string>
        <key>sourceSize</key>
        <string>{10,20}</string>
    </dict>
    <key>Projectile_Sand_Ball</key>
    <dict>
        <key>frame</key>
        <string>{{140,144},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
    </dict>
    <key>PinkSlime_Pink_Slime1</key>
    <dict>
        <key>frame</key>
        <string>{{156,144},{17,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,13}}</string>
        <key>sourceSize</key>
        <string>{17,13}</string>
    </dict>
    <key>PinkSlime_Pink_Slime2</key>
    <dict>
        <key>frame</key>
        <string>{{175,144},{17,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,13}}</string>
        <key>sourceSize</key>
        <string>{17,13}</string>
    </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>game_atlas.png</string>
        <key>size</key>
        <string>{256,256}</string>
        <key>textureFileName</key>
        <string>game_atlas.png</string>
    </dict>
</dict>
</plist>